.home__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-xl);
}

.home__social .social-links {
  justify-content: center;
}

@media (max-width: 968px) {
  .home__products {
    grid-template-columns: 1fr;
    max-width: 480px;
    margin: 0 auto;
  }
}
